:root { 
  --sienna: #3C1518;
  --blood: #69140E;
  --rust: #A44200;
  --bronze: #D58936;
  --feldgrau: #4A5859; 
}

h2 {
  color: var(--sienna)
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var(--feldgrau)
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a img {
  width: 100%;
  max-height: 200px;
  object-fit: cover;
  object-position: top;
  transition: all 0.3s ease-in-out;
}

.txt-white {
  color:black;
  background-color: #ffffffd3;
  padding: 1rem;
  border-radius: 2px;
}

.txt-white-details {
  color:black;
  background-color: #ffffffd3;
  padding: 0.5rem 1rem;
  border-radius: 2px;
}

.nav-style {
  background-color: var(--feldgrau);
  height: 6rem;
  margin: 0 0 1rem 0;
  color: white;
}

.es-inactive {
  color: white;
}

.es-active {
  background-color: var(--rust);
}